body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 1.4;
}

.wrapper {
    width: 80%;
    padding: 24px 0;
    margin: 0 auto;
}

.onesignal-subscription {
    padding: 24px;
    margin-top: 48px;

    background-color: hsl(54, 86%, 86%);
}

.onesignal-subscription__label {
    display: block;

    font-size: 14px;
    font-weight: 300;
    line-height: 1;
}

.onesignal-subscription__status {
    font-size: 21px;
    font-weight: 600;
    line-height: 1.5;
}
